<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/admin-assets/assets/img/favicon.png">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />
    <!----------------------------------------------------------------->
    <!-----------------------------Template Links---------------------->
    <!----------------------------------------------------------------->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/admin-assets/lib/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="~/admin-assets/lib/apexcharts/apexcharts.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/admin-assets/assets/css/style.min.css">

    <!----------------------------------------------------------------->
    <!-----------------------------Template Links---------------------->
    <!----------------------------------------------------------------->
    @await RenderSectionAsync("css", required: false)
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <a asp-action="Index" asp-controller="Home" class="sidebar-logo">CMS</a>
        </div><!-- sidebar-header -->
        <div id="sidebarMenu" class="sidebar-body">
            <div class="nav-group show">
                <a href="#" class="nav-label">User Management</a>
                <ul class="nav nav-sidebar">
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="User" class="nav-link"><i class="ri-account-circle-line"></i> <span>Users</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="../dashboard/events.html" class="nav-link"><i class="ri-calendar-todo-line"></i> <span>Events Management</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="../dashboard/sales.html" class="nav-link"><i class="ri-shopping-bag-3-line"></i> <span>Sales Monitoring</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="../dashboard/analytics.html" class="nav-link"><i class="ri-bar-chart-2-line"></i> <span>Website Analytics</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="../dashboard/crypto.html" class="nav-link"><i class="ri-coin-line"></i> <span>Cryptocurrency</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="../dashboard/helpdesk.html" class="nav-link"><i class="ri-service-line"></i> <span>Helpdesk Service</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="../dashboard/storage.html" class="nav-link"><i class="ri-hard-drive-2-line"></i> <span>Storage Management</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="../dashboard/product.html" class="nav-link"><i class="ri-suitcase-2-line"></i> <span>Product Management</span></a>
                    </li>
                </ul>
            </div><!-- nav-group -->
        </div><!-- sidebar-body -->
        <div class="sidebar-footer">
            <div class="sidebar-footer-top">
                <div class="sidebar-footer-thumb">
                    <img src="~/admin-assets/assets/img/img1.jpg" alt="">
                </div><!-- sidebar-footer-thumb -->
                <div class="sidebar-footer-body">
                    <h6><a href="~/admin-assets/pages/profile.html">Shaira Diaz</a></h6>
                    <p>Premium Member</p>
                </div><!-- sidebar-footer-body -->
                <a id="sidebarFooterMenu" href="" class="dropdown-link"><i class="ri-arrow-down-s-line"></i></a>
            </div><!-- sidebar-footer-top -->
            <div class="sidebar-footer-menu">
                <nav class="nav">
                    <a href=""><i class="ri-edit-2-line"></i> Edit Profile</a>
                    <a href=""><i class="ri-profile-line"></i> View Profile</a>
                </nav>
                <hr>
                <nav class="nav">
                    <a href=""><i class="ri-question-line"></i> Help Center</a>
                    <a href=""><i class="ri-lock-line"></i> Privacy Settings</a>
                    <a href=""><i class="ri-user-settings-line"></i> Account Settings</a>
                    <a href=""><i class="ri-logout-box-r-line"></i> Log Out</a>
                </nav>
            </div><!-- sidebar-footer-menu -->
        </div><!-- sidebar-footer -->
    </div><!-- sidebar -->

    <div class="header-main px-3 px-lg-4">
        <a id="menuSidebar" href="#" class="menu-link me-3 me-lg-4"><i class="ri-menu-2-fill"></i></a>

        <div class="form-search me-auto">
            <input type="text" class="form-control" placeholder="Search">
            <i class="ri-search-line"></i>
        </div><!-- form-search -->

        <div class="dropdown dropdown-skin">
            <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><i class="ri-settings-3-line"></i></a>
            <div class="dropdown-menu dropdown-menu-end mt-10-f">
                <label>Skin Mode</label>
                <nav id="skinMode" class="nav nav-skin">
                    <a href="" class="nav-link active">Light</a>
                    <a href="" class="nav-link">Dark</a>
                </nav>
                <hr>
                <label>Sidebar Skin</label>
                <nav id="sidebarSkin" class="nav nav-skin">
                    <a href="" class="nav-link active">Default</a>
                    <a href="" class="nav-link">Prime</a>
                    <a href="" class="nav-link">Dark</a>
                </nav>
                <hr>
                <label>Direction</label>
                <nav id="layoutDirection" class="nav nav-skin">
                    <a href="" class="nav-link active">LTR</a>
                    <a href="" class="nav-link">RTL</a>
                </nav>
            </div><!-- dropdown-menu -->
        </div><!-- dropdown -->

        <div class="dropdown dropdown-notification ms-3 ms-xl-4">
            <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><small>3</small><i class="ri-notification-3-line"></i></a>
            <div class="dropdown-menu dropdown-menu-end mt-10-f me--10-f">
                <div class="dropdown-menu-header">
                    <h6 class="dropdown-menu-title">Notifications</h6>
                </div><!-- dropdown-menu-header -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="avatar online"><img src="~/admin-assets/assets/img/img10.jpg" alt=""></div>
                        <div class="list-group-body">
                            <p><strong>Dominador Manuel</strong> and <strong>100 other people</strong> reacted to your comment "Tell your partner that...</p>
                            <span>Aug 20 08:55am</span>
                        </div><!-- list-group-body -->
                    </li>
                    <li class="list-group-item">
                        <div class="avatar online"><img src="~/admin-assets/assets/img/img11.jpg" alt=""></div>
                        <div class="list-group-body">
                            <p><strong>Angela Ighot</strong> tagged you and <strong>9 others</strong> in a post.</p>
                            <span>Aug 18 10:30am</span>
                        </div><!-- list-group-body -->
                    </li>
                    <li class="list-group-item">
                        <div class="avatar"><span class="avatar-initial bg-primary">a</span></div>
                        <div class="list-group-body">
                            <p>New listings were added that match your search alert <strong>house for rent</strong></p>
                            <span>Aug 15 08:10pm</span>
                        </div><!-- list-group-body -->
                    </li>
                    <li class="list-group-item">
                        <div class="avatar online"><img src="~/admin-assets/assets/img/img14.jpg" alt=""></div>
                        <div class="list-group-body">
                            <p>Reminder: <strong>Jerry Cuares</strong> invited you to like <strong>Cuares Surveying Services</strong>. <br><a href="">Accept</a> or <a href="">Decline</a></p>
                            <span>Aug 14 11:50pm</span>
                        </div><!-- list-group-body -->
                    </li>
                    <li class="list-group-item">
                        <div class="avatar online"><img src="~/admin-assets/assets/img/img15.jpg" alt=""></div>
                        <div class="list-group-body">
                            <p><strong>Dyanne Aceron</strong> reacted to your post <strong>King of the Bed</strong>.</p>
                            <span>Aug 10 05:30am</span>
                        </div><!-- list-group-body -->
                    </li>
                </ul>
                <div class="dropdown-menu-footer"><a href="">Show all Notifications</a></div>
            </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
        @await Html.PartialAsync("_Profile")
    </div><!-- header-main -->

    <div class="main main-app p-3 p-lg-4">
        <main role="main">
            @RenderBody()
        </main>
        <div class="main-footer mt-5">
            <span>&copy; 2023. Dashbyte. All Rights Reserved.</span>
            <span>Created by: <a href="http://themepixels.me" target="_blank">Faisal</a></span>
        </div><!-- main-footer -->
    </div>

    <!----------------------------------------------------------------->
    <!-----------------------------Template Links---------------------->
    <!----------------------------------------------------------------->
    <script src="~/admin-assets/lib/jquery/jquery.min.js"></script>
    <script src="~/admin-assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin-assets/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/admin-assets/lib/apexcharts/apexcharts.min.js"></script>

    <script src="~/admin-assets/assets/js/script.js"></script>
    <script src="~/admin-assets/assets/js/db.data.js"></script>
    <script src="~/admin-assets/assets/js/db.finance.js"></script>
    <!----------------------------------------------------------------->
    <!-----------------------------Template Links---------------------->
    <!----------------------------------------------------------------->

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
